/* src/styles/buttons.css */
.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: var(--x-100);
  gap: var(--x-05);
  padding: var(--y-05) var(--x-05);
  border-radius: 4px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: var(--xl);
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
.btn:not(:disabled):hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px var(--shadow);
}
.btn:disabled {
  background: var(--w1);
  color: var(--w2);
  border-color: var(--w2);
  opacity: 0.6;
  cursor: not-allowed;
}
.icon {
  width: var(--xl);
  aspect-ratio: 1/1;
}
.btn-action {
  background-color: var(--g1);
  color: var(--g3);
  border-color: var(--g3);
}
.btn-action:hover:not(:disabled) {
  background-color: var(--g2);
}
.btn-common {
  width: 100%;
  background: var(--y8);
  color: var(--y0);
  border-color: var(--bb);
}
.btn-common:hover:not(:disabled) {
  background-color: var(--y5);
}
.btn-danger {
  width: 100%;
  background-color: var(--r1);
  color: var(--r3);
  border-color: var(--r3);
}
.btn-danger:hover:not(:disabled) {
  background-color: var(--r2);
}
.btn-menu {
  display: flex;
  align-items: center;
  gap: var(--y-10);
  width: 100%;
  padding: var(--y-05) var(--x-10);
  border-radius: 4px;
  background-color: var(--y0);
  color: var(--text-head);
  font-size: var(--lg);
  border: 1px solid var(--bb);
}
.btn-menu:hover:not(:disabled) {
  background-color: var(--bb);
  color: var(--y0);
}
.w-10 {
  max-width: var(--x-100);
}
