/* src/styles/main.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,500;0,700&family=Open+Sans:ital,wght@0,400;0,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
  background-color: var(--bg-main);
  color: var(--text-head);
}

#app {
  width: 100%;
}

.title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: var(--text-head);
}

.subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  color: var(--text-title);
}

.grow {
  flex-grow: 1;
}
.divider {
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid var(--border);
}
.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
